# PostgreSQL connectiestring gebruikt door Prisma.
# Bij lokale ontwikkeling (Postgres op je eigen machine):
DATABASE_URL="postgresql://rijbewijs:rijbewijs@localhost:5432/rijbewijsb?schema=public"

# Bij Docker Compose wordt deze waarde overschreven in docker-compose.yml
# en wijst hij naar de 'db' service:
# DATABASE_URL="postgresql://rijbewijs:rijbewijs@db:5432/rijbewijsb?schema=public"
